.input-wrapper-div {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-input {
  width: 60%;
  height: 35px;
  margin: 20px;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

.submit-btn {
  width: 40%;
  height: 44px;
  border: 2px solid black;
}